
{{> head }}


  {{> navbar }}

	<div class="row">
		<div class="col-8">
			<h1>Programación</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, tempore!</p>
		</div>

		<div class="col-4">
			<img src="assets/img/programacion.png" class="img-thumbnail">
		</div>
	</div>

{{> footer}}
